* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-nav {
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  border: 1px solid black;
  color: grey;
  height: 2rem;
}
.top_nav_inside_left {
  display: flex;
  padding-left: 1.5%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.top_nav_inside_right {
  display: flex;
  padding-right: 1.5%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.middle-nav {
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
}
.logo-start {
  display: flex;
  padding-left: 1.5%;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-start h2 {
  margin-left: 0.5rem;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
  font-size: larger;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  margin-right: 50px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-left: 50px;
}

.category-inside {
  height: 2.5rem;
  width: 7rem;
  background-color: #52057b;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

.category-inside p {
  padding-bottom: 5px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.end-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(194, 193, 193);
  border-bottom: 1px solid rgb(182, 182, 182);
  height: 3rem;
}
.left-end-nav {
  display: flex;
  padding-left: 1.5%;
}
.left-end-nav a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

.right-end-nav {
  display: flex;
  padding-right: 35px;
}
.img-main {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5%;
  flex-direction: column;
}
.svg-next-back {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

.next-back {
  display: flex;
}
.main-middle-one {
  display: flex;

  padding-left: 1.5%;
  margin-top: 6px;
}

.bau-navbar {
  display: flex;
  justify-content: space-between;

  padding: 10px;
}
.billsutility {
  border: 1px solid rgb(180, 180, 180);
  width: 80rem;
  margin-left: 30px;
  border-radius: 10px;
}

.nav-search-bau {
  display: flex;
  width: 65rem;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
.nav-search-bau a {
  text-decoration: none;
  color: #828282;
}
.code-transaction {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 1px solid rgb(204, 203, 203);
}

.bau-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.help-svg {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.svg-party {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding-left: 3%;
}
.choose-category h4 {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  text-align: center;
  padding-top: 5px;
}

.nav-2 {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.time-end {
  display: flex;
  gap: 10px;
  align-items: center;
}

.time-end h4 {
  color: var(--black, #212121);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.time-end p {
  display: flex;
  width: 33px;
  height: 32px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #52057b;
  color: white;
}

.time-end span {
  display: inline-block;
  font-weight: bold;
}

.image-background {
  display: flex;
  width: 245px;
  height: 167px;
  padding: 19px 0px 18px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px 8px 0px 0px;
  background: #e6e8ec;
}

.color-back-product {
  display: flex;
  background: #f9f9f9;
  height: 486px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  flex-shrink: 0;
  margin-top: 20px;
}

.font-font h4 {
  font-size: 20px;
}
.feature {
  display: flex;
  padding: 2%;
  gap: 2rem;
}

.feature p {
  width: 95px;
  color: #52057b;
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: rgba(82, 5, 123, 0.1);
}

.box {
  margin-left: 1%;
  color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  border-radius: 8px;
  background: linear-gradient(90deg, #bf5ae0 0%, #a811da 100%);
  width: 303px;
  height: 141px;
}

.now-easier {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(194, 194, 194, 0.644);
  height: 300px;
  width: 1800px;
  margin-left: 20px;
}

.box-1 {
  margin-left: 2%;
  color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 303px;
  height: 141px;
  border-radius: 8px;
  background: linear-gradient(90deg, #f85032 0%, #e73827 100%);
}

.box-2 {
  margin-left: 2%;
  color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 303px;
  height: 141px;
  border-radius: 8px;
  background: linear-gradient(90deg, #06beb6 0%, #48b1bf 100%);
}

.box-3 {
  margin-left: 2%;
  color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 303px;
  height: 141px;
  border-radius: 8px;
  background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
}

.box-4 {
  margin-left: 2%;
  color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 303px;
  height: 141px;
  border-radius: 8px;
  background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
}

.photo-2 {
  margin: 2%;
  margin-top: 4rem;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.inside-photo-2-box {
  border: 1px solid #e2e2e2;
  width: 375px;
  height: 180px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
}
.margin-images {
  margin: 1%;
}
.margin-images-1 {
  margin-top: 1%;
}

.image-background-1 {
  display: flex;
  width: 320px;
  height: 167px;
  padding: 19px 0px 18px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px 8px 0px 0px;
  background: #e6e8ec;
}

.image-inside-3 {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto ;
  gap: 40px;
  padding: 40px;


}

.button-style{display: flex;
flex-direction: column; padding-top: 20px;
padding-bottom: 20px;}

.button-style {gap: 20px;}