* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-nav {
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  border: 1px solid black;
  color: grey;
  height: 2rem;
}
.top_nav_inside_left {
  display: flex;
  padding-left: 1.5%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.top_nav_inside_right {
  display: flex;
  padding-right: 1.5%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.middle-nav {
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
}
.logo-start {
  display: flex;
  padding-left: 1.5%;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-start h2 {
  margin-left: 0.5rem;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
  font-size: larger;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  margin-right: 50px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-left: 50px;
}

.category-inside {
  height: 2.5rem;
  width: 7rem;
  background-color: #52057b;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

.category-inside p {
  padding-bottom: 5px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.end-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(194, 193, 193);
  border-bottom: 1px solid rgb(182, 182, 182);
  height: 3rem;
}
.left-end-nav {
  display: flex;
  padding-left: 1.5%;
}
.left-end-nav a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

.right-end-nav {
  display: flex;
  padding-right: 35px;
}
.img-main {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5%;
  flex-direction: column;
}
.svg-next-back {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

.next-back {
  display: flex;
}
.main-middle-one {
  display: flex;

  padding-left: 1.5%;
  margin-top: 6px;
}

.bau-navbar {
  display: flex;
  justify-content: space-between;

  padding: 10px;
}
.billsutility {
  border: 1px solid rgb(180, 180, 180);
  width: 80rem;
  margin-left: 30px;
  border-radius: 10px;
}

.nav-search-bau {
  display: flex;
  width: 65rem;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
.nav-search-bau a {
  text-decoration: none;
  color: #828282;
}
.code-transaction {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 1px solid rgb(204, 203, 203);
}

.bau-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.help-svg {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}




.svg-party{display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 120px; 
  padding-left: 3%;
  
}
.choose-category h4 {display: flex;
flex-wrap: wrap; width: 50px; text-align: center; padding-top: 5px;}


.nav-2{display: flex;
justify-content: space-between;
padding: 2%;}

.time-end{display: flex;
gap: 10px;
align-items: center;}

.time-end h4 {color: var(--black, #212121);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}

  .time-end p {display: flex;
    width: 33px;
    height: 32px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;border-radius: 4px;
    background: #52057B;
  color: white;}

  .time-end span { display: inline-block;
  font-weight: bold;}

  .image-background{display: flex;
    width: 245px;
    height: 167px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px 8px 0px 0px;
    background: #E6E8EC;
  }

  .color-back-product{display: flex;
    background: #F9F9F9;
    height: 486px;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    flex-shrink: 0;
  margin-top: 20px;}
  
  .font-font h4 {font-size: 20px;}